<!DOCTYPE html>
<html lang="en" ng-app="rodrigo">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Entrena Mucho, Entrenador Personal</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="module.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="js/init.js"></script>



</head>
<body ng-controller="RodrigoController as rodrigoCtrl">
<script>
    $(document).ready(function(){
        $('.parallax').parallax();
    });

</script>
  <nav class="black" role="navigation " style="position: fixed;z-index: 999">
    <div class="nav-wrapper container navbar-fixed"><a id="logo-container" href="#" class="brand-logo">EntrenaMucho</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#">Corre con criterio</a></li>
        <li><a href="#">Testimonio de Clientes</a></li>
        <li><a href="#tarifas">Tarifas</a></li>
        <li><a href="#modal1" class='modal-trigger red-text' onclick="$('#modal1').openModal();"><strong>Te Llamamos</strong></a></li>

          <li><a href="#">Registrate/Usuarios</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#">Corre con criterio</a></li>
          <li><a href="#">Testimonio de Clientes</a></li>
          <li><a href="#tarifas">Tarifas</a></li>
          <li><a href="#contacto" class='dropdown-button' data-activates='contacto'>Contactos</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<div id="modal1" class="modal">

    <div class="modal-content">
        <div class="container">
        <h4>Te Llamamos!!</h4>
        <p>Ingrese su numero de telefono</p>
        <div class="input-field col s6">
            <input value="Telefono" id="phone_number" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <input value="Nombre" id="name" type="text" class="validate">
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn light-blue">Gracias!!</a>
    </div>
</div>
  <div class="parallax-container" style="padding-top: 50px">
      <div class="parallax"><img src="1.jpg"></div>
  </div>
  <div class="section white scrollspy" id="home">
      <div class="container">
          <div class="section">

              <!--   Icon Section   -->
              <h3 class="center-align">Pasos para comenzar tu entrenamiento</h3>
              <div class="row">
                  <div class="col s12 m4">
                      <div class="icon-block hoverable">
                          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                          <h5 class="center">Paso 1</h5>

                          <strong>Contacta con tu entrenaodor. Disponibles las 24h</strong>
                      </div>
                  </div>

                  <div class="col s12 m4">
                      <div class="icon-block hoverable">
                          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                          <h5 class="center">Paso 2</h5>

                          <strong>Cita Personalizada en la que se establecen objetivos. Haremos una prueba de esfuerzo, para comprobar tu estado físico.</strong>
                      </div>
                  </div>

                  <div class="col s12 m4">
                      <div class="icon-block hoverable">
                          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                          <h5 class="center">Paso 3</h5>

                          <strong>Comienza a entrenar ya!!.</strong>
                      </div>
                  </div>
              </div>

          </div>
          <br><br>

          <div class="section">

          </div>
      </div>
  </div>
  <div class="parallax-container">
      <div class="parallax"><img src="3.jpg"></div>
  </div>





<div class="section white scrollspy" id="servicios">
        <h3 class="center-align">Servicios</h3>
        <div class="container">
        <div class="col s4" ng-repeat="(i,servicio) in rodrigoCtrl.servicios">
            <div class="icon-block hoverable">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h5 class="center">{{servicio.name}}</h5>

                <strong>{{servicio.description}}</strong>
                <ul style="padding-left: 20px">
                   <li ng-repeat="sub in servicio.subtitle"><i class="material-icons">done</i>{{sub}}</li>
                </ul>
                {{servicio.titleSub2}}
                <ul style="padding-left: 40px">
                    <li ng-repeat="sub2 in servicio.subtitle2" ><i class="material-icons">done</i>{{sub2}}</li>
                </ul>
            </div>
        </div>
            </div>
    </div>

            <div class="parallax-container">
    <div class="parallax"><img src="2.jpg"></div>
</div>
<tarifas></tarifas>
<div class="parallax-container" style="padding-bottom: 300px">
    <div class="parallax"><img src="4.jpg"></div>
    </div>
<div class="section white"></div>
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contacta con nosotros</h5>
          <p class="grey-text text-lighten-4">Telefono: (+34)616218500</p>
            <p class="grey-text text-lighten-4">Email: trainercorremucho@gmail.com</p>



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Mapa de la web</h5>
          <ul>
              <li><a href="#home">Inicio</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#">Corre con criterio</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <ul>
              <li><a href="#tarifas">Tarifas</a></li>
              <li><a href="#contacto" class='dropdown-button' data-activates='contacto'>Contactos</a></li>
              <li><a href="#">Registrate/Usuarios</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          •	© 2015 EntrenaMucho
      </div>
    </div>
  </footer>



  </body>
</html>
